body{
    margin:20px;
    padding: 10px;
    border: 10px;
    background-color: #869FDB;
    font-family: 'Architects Daughter', cursive;
    font-weight: 700;
    font-size: 20px;
    color: #4d0404;
   }
  
  a{
    color: #142E45;
    -webkit-transition: 0.2s opacity;
    -o-transition: 0.2s opacity;
    transition: 0.2s opacity;
  }
  
  a:visited{   /*comes first*/
    color: #032419;
  }
  
  
  a:active{    /*comes 3rd*/
    color: #357b70;
    text-decoration: none;
  }
  
  a:hover, a:focus{
    cursor: pointer;
    opacity: 0.8;
    text-decoration: none;
  }
  
  button{
    border: none;
    display: inline-block;
    font-family: inherit;
    background-color: #cdd6dd;
    color: rgb(94, 35, 27);
    text-decoration: none;
    padding: 10px;
    border-radius: 30px;
    border-bottom: 80px rgb(45, 7, 7);
    -webkit-transition: 0.2s opacity;
    -o-transition: 0.2s opacity;
    transition: 0.2s opacity; /*transition: [transition-property] [transition-duration] [transition-timing-function] [transition-delay];*/ 
  }
  
  .button{
    border: none;
    display: inline-block;
    font-family: inherit;
    background-color: #cdd6dd;
    color: rgb(94, 35, 27);
    text-decoration: none;
    padding: 10px;
    border-radius: 30px;
    border-bottom: 80px rgb(45, 7, 7);
    -webkit-transition: 0.2s opacity;
    -o-transition: 0.2s opacity;
    transition: 0.2s opacity; /*transition: [transition-property] [transition-duration] [transition-timing-function] [transition-delay];*/ 
  }
  
  .cv_button{
    border: none;
    display: inline-block;
    font-family: inherit;
    background-color: #cdd6dd;
    color: rgb(94, 35, 27);
    text-decoration: none;
    padding: 10px;
    border-radius: 30px;
    border-bottom: 80px rgb(45, 7, 7);
    -webkit-transition: 0.2s opacity;
    -o-transition: 0.2s opacity;
    transition: 0.2s opacity; /*transition: [transition-property] [transition-duration] [transition-timing-function] [transition-delay];*/ 
  }
  
  button:hover, button:focus, .button:hover, .button:focus{
    cursor: pointer; /*lets the mouse pointer appear as a hand when hovering over the button*/
    opacity: 0.8; /*reduces the opacity of the button to 80%*/
  }
  
  .button_secondary{  /*When referring to classes in your CSS, you prefix the class name with a period*/
    background-color: #20124d;
    color: #869FDB;
    border-radius: 10px;
  }
  
  th{
    font-size: 30px;
    font-weight: 700;
  }
  
  td{
    font-size: 20px;
    font-weight: 600;
  }
  
  .profile{
    max-width: 700px;
    margin: 0 auto;
  }
  
  .profile{
    min-width: 700px;
    max-width: 700px;
  }
  
  .profile_portrait{
    float: left;
    width: 250px;
    margin-right: 40px;
    border-radius: 50%;
  }
  
  .page-footer{
    clear: both;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  
  *{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  
  .page-header{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    padding: 20px;
  }
  
  .page-header_item{
    -webkit-box-flex: 0 1 200px;
        -ms-flex-positive: 0 1 200px;
            flex-grow: 0 1 200px;
  }
  
  .page-header_item:last-child{
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    text-align: right;
  }
  
  .navigation-list{
    list-style-type: none;
  }
  
  .navigation-list li{
    display: inline-block;
    margin-left: 15px;
  }
  
  /* form */
#contact-form {
  display: flex;
  width: 40%;
  flex-direction: column;
}

.form-field{
  display: grid;
  grid-template-columns: 40% 60%;
  grid-gap: 5px;
}

  /* form ends */
  
  /*start grid fallback*/
  .grid_item{
    display: inline-block;
  }
  /*end grid fallback*/
  
  @supports (display: grid) {
    .grid{
      display: -ms-grid;
      display: grid;
      -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
      grid-template-columns: 1fr 1fr 1fr; /* fr instead of pixel solely for CSS grid*/
      grid-gap: 20px;
      text-align: center;
    }
  
    .grid_item{
      background-color: lightgray;
      padding: 20px;
    }
  
  .grid_item:last-child{
      -ms-grid-column: 3;
      grid-column: 3/3;
      -ms-grid-row: 1;
      -ms-grid-row-span: 2;
      grid-row: 1/3;
    }
  }
  
  @media all and (min-width: 300px){
    .grid{
      -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
      grid-gap: 10px;
    }
    .grid_item:last-child{
      grid-column: auto/auto;
      grid-row:auto/auto;
    }
    h1{
      font-size: 22px;
    }
    .page-header {
      width: 100vw;
    }
    
    .berlin-illustration{
      display: flex;
      size: 1%;
    }
    .page-header_item_img{
      display: block;
    }
  }
  
  @media all and (min-width: 300px) and (max-width: 1500px){
    .grid{
      -ms-grid-columns: 1fr 10px 1fr;
      grid-template-columns: 1fr 1fr;
      grid-gap: 10px;
    }
    .grid-item:last-child{
      grid-column: auto/auto;
      grid-row: auto/auto;
    }
    h1{
      font-size: 22px;
    }
  }
  
  @-webkit-keyframes color-change{
    0%{
      fill:#edc655;
    }
    50%{
      fill:#fcffad;
    }
    100%{
      fill:#f76414;
    }
  }
  
  @keyframes color-change{
    0%{
      fill:#edc655;
    }
    50%{
      fill:#fcffad;
    }
    100%{
      fill:#f76414;
    }
  }
  
  .sun{
    -webkit-animation: 4s color-change infinite alternate linear;
            animation: 4s color-change infinite alternate linear;
  }
  
  @-webkit-keyframes cloud-move{
    from{
      -webkit-transform: translate(0, 50px);
              transform: translate(0, 50px);   /*translate(x,y) repositions an element in the horizontal and/or vertical direction by given values (e.g., 50px right and 50px top)*/
    }
    to{
      -webkit-transform: translate(200px, 50px);
              transform: translate(200px, 50px);
    }
  }
  
  @keyframes cloud-move{
    from{
      -webkit-transform: translate(0, 50px);
              transform: translate(0, 50px);   /*translate(x,y) repositions an element in the horizontal and/or vertical direction by given values (e.g., 50px right and 50px top)*/
    }
    to{
      -webkit-transform: translate(200px, 50px);
              transform: translate(200px, 50px);
    }
  }
  
  .cloud-front{
    -webkit-animation: 30s cloud-move infinite alternate linear;
            animation: 30s cloud-move infinite alternate linear; /*animation: animation-duration animation-name animation-iteration-count animation-direction animation-timing-function;*/
  }
  
  @-webkit-keyframes cloud-move-reverse{
    from{
      translate: transform(446px, 48px);
    }
    to{
      -webkit-transform: translate(100px, 48px);
              transform: translate(100px, 48px);
    }
  }
  
  @keyframes cloud-move-reverse{
    from{
      translate: transform(446px, 48px);
    }
    to{
      -webkit-transform: translate(100px, 48px);
              transform: translate(100px, 48px);
    }
  }
  
  .cloud-back{
    -webkit-animation: 34s cloud-move-reverse infinite alternate linear;
            animation: 34s cloud-move-reverse infinite alternate linear;
  }